[Unit]
Description=UFQ Telegram Bot Daemon Service
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/ufq-bot
ExecStart=/home/ubuntu/ufq-bot/venv/bin/python3 main.py
Restart=always
RestartSec=5
EnvironmentFile=/home/ubuntu/ufq-bot/.env

[Install]
WantedBy=multi-user.target
